html,
body,
img,
embed,
object,
video {
    max-width: 100%;
}

a {
    min-height: 48px;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    background: #d9a7c7;
    color: #f3e3ed;
}

main {
    max-width: 1000px;
    padding: 0 !important;
    margin: 0 auto;
}

#gradient {
    width: 100%;
    height: 100vh;
    background: -webkit-linear-gradient(to bottom, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    color: #6fb27d;
    padding-top: 1em;
	text-shadow:0px 2px 0px #535248be,
				0px 12px 8px #bebca49a,
				0px 22px 1px #bebca49a,
				0px 32px 28px #bebca49a;
}

h1,
h2,
nav {
    font-family: 'Pacifico', cursive;
}

h2 {
    color: #faeaf4;
    font-size: 2.3em;
    margin: 1em auto;
}

section {
    background: transparent;
    padding: 1em 10vw;
}

#about {
    margin-top: 20%;
}

#about img {
    margin-bottom: 2em;
    opacity: 0.9;
    width: 70%;
}

#me {
    visibility: hidden;
    opacity: 0;
    transition: 1500ms;
}

#me.show {
    visibility: visible;
    opacity: 1;
}

#about-me {
    width: 100%;
    text-align: left;
}

#skill-logos,
#work-items,
#project-items {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
}

li {
    list-style: none;
}

#work-items li,
#project-items li {
    max-width: 100%;
    margin: 2em auto;
}

.works:nth-child(1):hover,
#project-items li:hover {
    opacity: 0.8;
}

#work-items li {
    position: relative;
    height: 100%;
    text-align: center;
}

#work-items a {
    color: #fff;
}

.work-description,
.project-description {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1em;
    background: rgba(56, 43, 43, 0.5);
    color: #fff;
    z-index: 2;
}

#project-items li {
    position: relative;
    width: 100%;
    height: 30vh;
    text-align: center;
}

#project-items img {
    max-height: 100%;
}

.projects:nth-child(1),
.projects:nth-child(4),
.projects:nth-child(5),
.projects:nth-child(7) {
    background: white;
}

.projects:nth-child(2) {
    background: black;
}

.projects:nth-child(3) {
    background: #ff7900;
}

.projects:nth-child(6) {
    background: #ffbecc;
}

#contact {
    padding-bottom: 40vh;
}

#contact a {
    color: #b28187;
    transition: transform .2s;
    display:inline-block;
}

form {
    width: 80%;
    margin: 1em auto;
    text-align: left;
}

#links {
    padding-bottom: 25vh;
}

#links a {
    color: #b28187;
    font-weight: bold;
    text-decoration: none;
    transition: transform .2s;
    display:inline-block;
}

#contact a:hover,
#links a:hover {
    transform:scale(1.5);
    color: #6fb27d;  
}

.btn-light {
    margin-top: 1em;
    margin-right: 5px;
    color:#666;
    border: 0;
    padding: 0.5em;
}

.btn-light:hover {
    background: #ffd1d7;
    color: #b28187;
    border: 0;
}

footer {
    color: #ffd1d7;
    font-weight: 100;
    font-size: 0.9em;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5em auto;
}

/* Page title fading in */
.page-title {
    -webkit-animation-name: title;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: 1;
    
    -moz-animation-name: title;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: 1;
    
    animation-name: title;
    animation-duration: 5s;
    animation-iteration-count: 1;
    }
    
    @-moz-keyframes title {  
        0% { opacity: 0.0; }
        100% { opacity: 1.0; }
    }
    
    @-webkit-keyframes title {  
        0% { opacity: 0.0; }
        100% { opacity: 1.0; }
    }
    
    @keyframes title {  
        0% { opacity: 0.0; }
        100% { opacity: 1.0; }
    }

/* Menu */
nav {
    font-size: 1.5em;
    line-height: 3em;
    height: 60%;
    margin-top: 10%;
    max-width: 100%;
    max-height: 100%;
}

#menu {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.menu-items {
    background: #ffd1d7;
    transition: transform .2s;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding-top: 17px;
}

.menu-items:hover {
    background: #fffcdcbb;
}

#menu a {
    display: block;
    color: #B28187;
}

#menu a:hover {
    color: #B28187;
    text-decoration: none;
}

/* Menu - About */
.menu-items:nth-child(1) {
    margin-left: 5%;
    -webkit-align-self:flex-start;
    -moz-align-self:flex-start;
    -ms-align-self:flex-start;
    align-self:flex-start;
    animation: float 16s infinite;
}
 
/* Menu - Works */
.menu-items:nth-child(2) {
    margin-right: 5%;
    margin-top: -60px;
    -webkit-align-self:flex-end;
    -moz-align-self:flex-end;
    -ms-align-self:flex-end;
    align-self:flex-end;
    animation: float2 15s infinite;
}
 
/* Menu - Skills */
.menu-items:nth-child(3) {
    margin-left: 20%;
    -webkit-align-self:center;
    -moz-align-self:center;
    -ms-align-self:center;
    align-self:center;
    animation: float3 15s infinite;
}
 
/* Menu - Contact */
.menu-items:nth-child(4) {
    margin-left: 3%;
    -webkit-align-self:baseline;
    -moz-align-self:baseline;
    -ms-align-self:baseline;
    align-self:baseline;
    animation: float2 15s infinite;
}

/* Menu - Projects */
.menu-items:nth-child(5) {
    margin-left: 30%;
    -webkit-align-self:baseline;
    -moz-align-self:baseline;
    -ms-align-self:baseline;
    align-self:baseline;
    animation: float5 16s infinite;
}

/* Menu - Links */
.menu-items:nth-child(6) {
    margin-left: 65%;
    -webkit-align-self:flex-start;
    -moz-align-self:flex-start;
    -ms-align-self:flex-start;
    align-self:flex-start;
    animation: float 15s infinite;
}

/* Menu - floating animation */
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(155, 132, 132, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(155, 132, 132, 0.3);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(155, 132, 132, 0.6);
		transform: translatey(0px);
	}
}

@keyframes float2 {
	0% {
		box-shadow: 0 20px 8px 0px rgba(155, 132, 132, 0.3);
		transform: translatey(-10px);
	}
	50% {
		box-shadow: 0 5px 8px 0px rgba(155, 132, 132, 0.6);
		transform: translatey(0px);
    }
    100% {
		box-shadow: 0 20px 8px 0px rgba(155, 132, 132, 0.3);
		transform: translatey(-10px);
	}
}

@keyframes float3 {
	0% {
		box-shadow: 0 5px 10px 0px rgba(155, 132, 132, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 10px 0px rgba(155, 132, 132, 0.3);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 10px 0px rgba(155, 132, 132, 0.6);
		transform: translatey(0px);
	}
}

@keyframes float5 {
	0% {
		box-shadow: 0 5px 8px 0px rgba(155, 132, 132, 0.6);
		transform: translatey(0px);
    }
    50% {
		box-shadow: 0 20px 8px 0px rgba(155, 132, 132, 0.3);
		transform: translatey(-10px);
    }
    100% {
		box-shadow: 0 5px 8px 0px rgba(155, 132, 132, 0.6);
		transform: translatey(0px);
    }
}

/* Back to the top arrow */
#to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 80%;
}
 
#to-top a {
    display: block;
    background: #666;
    color: #fff;
    width: 100px;
    padding: 25px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}
 
#to-top a:hover {
    background: #999;
    text-decoration: none;
}
/*
#arrow {
    position: fixed;
    bottom: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    opacity: 0.6;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    border: 0;
    color: #b28187;
    background: transparent;
    z-index: 100;
}

#arrow:hover {
    background: #fffcdcbb;
}
*/

/*
*Bubbles
*Mr. Mark Bowley's original pen:
*https://codepen.io/Mark_Bowley/pen/mEtqj/
*/
@-webkit-keyframes animateBubble {
    0% {
        margin-top: 200px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 200px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 200px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:30px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:30px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:30px;
    }
}

.bubble1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.bubble2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.bubble3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 10%;
	top: 40%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.bubble4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.bubble5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.bubble6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 50%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.bubble7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.bubble8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.bubble9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.bubble10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 80%;
	top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}


.bubbles {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0px 1px 3px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0px 1px 3px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0px 1px 3px 5px rgba(255, 255, 255, 1);
    height: 20px;
	position: absolute;
    width: 20px;
    z-index: 2;
}

.bubbles::after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
    -webkit-box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3);
	content: "";
    height: 18px;
	left: 10px;
	position: absolute;
    width: 18px;
    z-index: 2;
}

/* Responsive */
@media screen and (min-width: 400px) {
    #nav {
        margin-top: 25%;
    }
}

@media screen and (max-width: 414px) {
    h1 {
        font-size: 2.5em;
    }
}

@media screen and (min-width: 415px) {
    h1 {
        font-size: 5em;
    }
}

@media screen and (max-width: 570px) {
    .projects:nth-child(1),
    .projects:nth-child(4),
    .projects:nth-child(5) {
        padding-top: 10%;
    }
}

@media screen and (min-width: 571px) {
    .works img {
        width: 100%;
    }

    #project-items {
        position: relative;
    }

    #project-items li {
        width: 48%;
    }

    .projects:nth-child(odd) {
        margin-right: 2%;
    }

    .projects:nth-child(7) {
        position: absolute;
        left: 0;
        margin: 0 !important;
    }
}

@media screen and (max-width: 679px) {
    #skill-logos {
        flex-direction: column !important;
        align-items: center;
        
    }

    #skill-logos li {
        width: 100%;
    }

    #skill-logos img {
        max-width: 50vw;
        margin: 2vh auto;
    }
}

@media screen and (min-width: 680px) {
    #about-flex {
        max-width: 100vw;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-flex-direction: column;
        flex-direction: column;
        max-height: 100vh;
    }

    #me {
        order: 1;
    }

    #logo {
        order: 2;
    }

    #about-text-wrapper {
        order: 3;
        width: 55vw;
        padding: 0;
        margin-left: 2vw;
    }

    section {
        font-size: 20px !important;
    }

    #skill-logos li {
        width: calc((85%)/6);
        margin-right: 3%;
    }

    #skill-logos li:nth-child(4){
        margin-top: 3%;
    }
    
    #skill-logos li:nth-child(5){
        margin-top: 3%;
    }

    #skill-logos li:nth-child(6){
        margin-top: 3%;
        margin-right: 0;
    }
}

@media screen and (max-width: 1000px) {
    main {
        width: 100%;
    }

    #work-items li {
        width: 100%;
    }
}

@media screen and (min-width: 681px) and (max-width: 1000px) {
    #about-flex img {
        width: 20vw;
        height: 20vw;
    }
}

@media screen and (min-width: 1001px) {
    main {
        width: 1000px;
    }

    #about-flex img {
        width: 15vw;
        height: 15vw;
    }

    #work-items li {
        width: 48%;
    }

    .works:nth-child(odd) {
        margin-right: 2%;
    }
}

/* Title and Menu for iPhone X */
@media screen and (min-height: 650px) and (max-width: 400px) {
    h1 {
        padding-top: 5vh;
        font-size: 4em;
    }
    nav {
        margin-top: 10vh !important;
    }
}

/* Menu for small screens */
@media screen and (max-width: 399px) {
    .menu-items:nth-child(4) {
        margin-top: -40px;
    }
    .menu-items:nth-child(6) {
        margin-top: -20%;
    }
}

/* Menu for bigger screens */
@media screen and (min-width: 400px) and (max-height: 599px) {
    .menu-items {
        margin-top: 5%;
    }
    .menu-items:nth-child(4) {
        margin-top: -30px;
    }
    .menu-items:nth-child(6) {
        margin-top: -20%;
    }
}

@media screen and (min-width: 400px) and (min-height: 600px) {
    .menu-items {
        margin-top: 10%;
    }
    .menu-items:nth-child(4) {
        margin-top: -30px;
        margin-left: 5%;
    }
    .menu-items:nth-child(5) {
        margin-top: 20px;
    }
    .menu-items:nth-child(6) {
        margin-top: -5%;
    }
}